.categories {
  position: absolute;
  right: 0;
  width: 110px;

  .websters-select{
    width: 111px;
    height: 32px;
    background-color: #94f3e4;
    border: none;

    &__arrow{
      display: none;
    }

    &__item{
      left: 0;
      right: 0;
      padding: 0 10px 0 25px;
      font-size: 15px;
      line-height: 16px;

      &:before,
      &:after{
        position: absolute;
        left: 13px;
        top: 1px;
        width: 3px;
        height: 13px;
        border-radius: 10px;
        background-color: #333f44;
        content: '';
      }

      &:before{
        transform: rotate(90deg);
      }

    }

  }

}