/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #dedede;
$websters-select-popup-back: rgba(51,63,68,.9);
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #37aa9c;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #37aa9c;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #000;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/