.game {
  width: 953px;
  margin: 0 auto;

  &__frame {
    position: relative;
    margin: 0 auto 14px;
  }

  &__btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 6px;
    min-width: 289px;
    height: 47px;
    padding-right: 15px;
    border-right: 12px solid #94f3e4;
    background-color: #333f44;
    color: #fff;
    font-size: 21px;

    &-play{
      position: relative;
      display: block;
      width: 46px;
      height: inherit;
      margin-right: 13px;
      background-color: #94f3e4;
      transition: opacity .3s ease;
      -webkit-transition: opacity .3s ease;

      &:hover{
        opacity: .8;
      }

      &:after {
        left: 50%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(51, 63, 68, 0);
        border-left-color: #333f44;
        border-width: 15px 0 15px 20px;
        margin-top: -15px;
        margin-left: -10px;
      }

    }

  }

}